In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('advertising.csv')

In [3]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
x=df.drop('Sales',axis=1)
x=x.drop('Unnamed: 0',axis=1)
y=df.Sales

In [5]:
x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [6]:
mod1=LinearRegression(fit_intercept=True)
mod2=LinearRegression(fit_intercept=True)
mod3=LinearRegression(fit_intercept=True)
mod4=LinearRegression(fit_intercept=True)
mod5=LinearRegression(fit_intercept=True)
mod6=LinearRegression(fit_intercept=True)
mod7=LinearRegression(fit_intercept=True)

In [7]:
mod1=mod1.fit(x[['TV']],y)
mod2=mod2.fit(x[['Radio']],y)
mod3=mod3.fit(x[['Newspaper']],y)
mod4=mod4.fit(x[['TV','Radio']],y)
mod5=mod5.fit(x[['TV','Newspaper']],y)
mod6=mod6.fit(x[['Radio','Newspaper']],y)
mod7=mod7.fit(x,y)

In [8]:
loss=[]

In [9]:
loss.append(sum((y-(mod3.predict(x[['Newspaper']])))**2))

In [10]:
loss.append(sum((y-(mod4.predict(x[['TV','Radio']])))**2))

In [11]:
loss.append(sum((y-(mod7.predict(x)))**2))

In [12]:
loss=pd.Series(loss,index=['One Variable','Two Variable','Three Variable'])
loss

One Variable      5134.804544
Two Variable       556.913980
Three Variable     556.825263
dtype: float64

In [13]:
loss.plot.bar(color='M')

In [16]:
sum((y-(mod1.predict(x[['Newspaper']])))**2)

11272.357677588956

In [19]:
sum((y-(mod5.predict(x[['Newspaper','Radio']])))**2)

11230.381416690316